@import '../../../styles.scss';

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 15vh;
}
.header__logo{
    font-size: 2rem;
}
.header__nav__list{
    display: flex;
    gap: 2rem;
    font-size: 1.75rem;
}
.header__nav__list-item a{
    color: black;
    transition: 125ms ease-in-out;
}
.header__nav__list-item a:hover{
    color: #555555;
    border-bottom: 0.125rem solid #555555;
}