<header class="header">
    <h1 class="header__logo">Rafael Silva</h1>
    <nav class="header__nav">
      <ul class="header__nav__list">
        <li class="header__nav__list-item">
          <a href="#">Sobre</a>
        </li>
        <li class="header__nav__list-item">
          <a href="#">Experiência</a>
        </li>
        <li class="header__nav__list-item">
          <a href="#">Projetos</a>
        </li>
        <li class="header__nav__list-item">
          <a href="#">Recomendações</a>
        </li>
        <li class="header__nav__list-item">
          <a href="#">Contato</a>
        </li>
      </ul>
    </nav>
  </header>
  